############################
# directories
############################
# project
.idea/

############################
# files
############################
# build files
*.o
*.a
*.exe

# logs
*.log

# build products
cutis-server
